<template>
  <section :class="$style.guide">
    <div class="color-map">
      <h4>Colors:</h4>
      <dl>
        <dt :class="$style.bad"></dt>
        <dd>0-29%</dd>
        <dt :class="$style.average"></dt>
        <dd>30-70%</dd>
        <dt :class="$style.good"></dt>
        <dd>71-100%</dd>
      </dl>
    </div>
    <div>
      <h4>Calculation</h4>
      <p>
        A percentage is calculated for each secondary. The calculation is based
        on the maximum and minimum possible rolls and uses the following
        formula:
      </p>
      <pre>
<code><var>range</var> = <var>max_value</var> - <var>min_value</var></code>
<code><var>avg</var> = <var>value</var> / <var>rolls</var></code>
<code><var>percentage</var> = (<var>avg</var> - <var>min_value</var>) / <var>range</var> * 100</code>
          </pre>
    </div>
    <div :class="$style.example">
      <h4>Example</h4>
      <p>
        Let's make an example by using defense as a secondary stat. Let's assume
        that our mod rolled 3 times defense and has a value of 24. The
        calculations are as follows:
      </p>
      <pre>
<code><var>range</var> = 10 - 4 = 6</code>
<code><var>avg</var> = 24 / 3 = 8</code>
<code><var>percentage</var> = (8 - 4) / 6 * 100 = 66.67%</code>
            </pre>
      <p>
        With 3 rolls, the minimum value for defense is 12 and the maximum is 30.
        The value of 24 is 2/3 (66.67%) of the way between the two extremes.
      </p>
    </div>
    <div>
      <h4>Additional information</h4>
      <p>
        Click on a 5dot mod to display a simulation of how the values would grow
        at 6 dots.
      </p>
      <p>
        Click on a 6dot mod to display a graph of the secondaries. It shows for
        each secondary the percentage value that has been calculated.
      </p>
      <p>
        Hovering each secondary will also display the minimum and maximum value
        that would have been possible for that amount of rolls.
      </p>
    </div>
  </section>
</template>

<style lang="scss" module>
.guide {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.guide h4 {
  margin-top: 0;
}

.guide div {
  background-color: #3d546df0;
  border: 1px solid aquamarine;
  text-align: left;
  padding: 1rem;
}

.guide .example {
  display: none;
}

@media (min-width: 900px) {
  .guide {
    flex-direction: row;
  }

  .guide div {
    max-width: 25%;
  }

  .guide .example {
    display: block;
  }
}

.guide dt {
  height: 1rem;
  border-radius: 5px;
}
.guide .bad {
  background: linear-gradient(
    108deg,
    saddlebrown 0% 30%,
    scale-color(saddlebrown, $lightness: 30%) 30% 100%
  );
}

.guide .average {
  background-color: cornflowerblue;
  background: linear-gradient(
    108deg,
    cornflowerblue 0% 50%,
    scale-color(cornflowerblue, $lightness: 30%) 50% 100%
  );
}
.guide .good {
  background: linear-gradient(
    108deg,
    green 0% 70%,
    scale-color(green, $lightness: -30%) 70% 100%
  );
}
</style>
