<template>
  <h1>Mods Explorer</h1>
  <router-view />
</template>

<style lang="scss">
body {
  background: url("./assets/background-3.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: hsl(224.2, 33.3%, 88.8%);
  padding-top: 60px;
  height: 100%;
  margin: 0;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.blur {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#000, #fff);
  filter: opacity(0.2);
  z-index: -9999;
  height: 100vh;
}

input,
button {
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

input[type="submit"],
button {
  border: 0.25rem solid steelblue;
  background-color: dimgray;
  color: hsl(224.2, 33.3%, 88.8%);
}
</style>
